<footer class="bg-dark text-white-50 fixed-bottom">
    <div class="container d-flex">
        <label class="me-auto">&copy; {% currentYear %} {{ author }}</label>
        <label>
            Powered by <a href="hhttps://github.com/" target="_blank">GitHub</a> and
            <a href="https://azure.microsoft.com/en-us/services/app-service/static/" target="_blank">Azure Static Web Apps</a>.
        </label>
    </div>
</footer>