<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top shadow-lg">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/assets/img/_author.png" alt="Author Thumbnail" width="40" class="rounded-circle bg-light">
            <span class="m-2">{{ siteName }}</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navToggler" aria-controls="navToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="col collapse navbar-collapse" id="navToggler">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/archive">Archive</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
            <ul class="d-flex align-items-center m-0 p-0">
                <li class="list-inline-item">
                    <a href="{{ githubProfile }}" target="_blank">
                        <i class="fa-brands fa-github fa-lg"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="{{ linkedinProfile }}" target="_blank">
                        <i class="fa-brands fa-linkedin fa-lg"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>