---
title: About
layout: '_base.njk'
---
<main>
    <section>
        <article>
            <h1>This Blog</h1>
            <p>...</p>
        </article>
    </section>
    <section>
        <article>
            <h1>Disclaimer</h1>
            <p>...</p>
        </article>
    </section>
</main>